{
  "parser": "babel-eslint",
  "rules": {
    "indent": [ 2, 2 ],
    "quotes": [ 2, "single" ],
    "linebreak-style": [ 2, "unix" ],
    "semi": [ 1, "always" ],
    "yoda": [ 2, "always" ],
    "eqeqeq": [ 2, "smart" ],
    "curly": 0,
    "no-plusplus": 2,
    "no-eval": 0,
    "debugger": 0,
    "no-new": 0,
    "no-use-before-define": [2, "nofunc"],
    "new-parens": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": [ 1, { "vars": "all", "args": "after-used" } ],
    "eol-last": 1
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jquery": true
  },
  "ecmaFeatures": {
    "modules": true
  }
}
