body
  header
    &.app-header
      .user-nav
        a[href="/signup"]
          display none

form
  .form-group
    input[type="checkbox"]
      margin-right 15px

    .help-block
      font-size 80%
      ul
        padding 0
        list-style none
      a
        margin 0 4px
        display inline-block
