.comment-vote
  font-size 14px
  text-align center
  vertical-align top
  display inline-block
  width 34px
  height 46px

  margin-right 6px
  cursor pointer


  &.selected, &:hover
    color #2D2D2D

  a.vote
    text-decoration initial

  a.vote, .counter
    color #9B9B9B

    display block
    font-weight bold
    min-height 14px

    &.selected, &:hover
      color #2D2D2D

    i.fa
      font-size 14px
      font-weight bold

    &.up
      &.selected, &:hover
        color green

    &.down
      &.selected, &:hover
        color red
