.comment-vote
  div
    span.counter.up 0
    a.vote.up(href="#", title=t('comment-vote.upvote'))
      i.fa.fa-thumbs-up
  div
    span.counter.down 0
    a.vote.down(href="#", title=t('comment-vote.downvote'))
      i.fa.fa-thumbs-down
