.uploader-modal
  top 50%
  max-width 90%
  width 500px
  background white
  padding-bottom 15px
  -webkit-transform s('translate(0, -50%)')
  -ms-transform s('translate(0, -50%)')
  transform s('translate(0, -50%)')

  form
    margin-bottom 0

  .nanoModalButtons
    margin 0 -4px
    border 0

  .preview
    margin-top 10px
    border 2px dashed #ddd
    border-radius 4px
    .placeholder
      color #ddd
      text-align center
      margin 50px auto
      font-weight bold
