#forum-wrapper.admin-wrapper
  .forum-admin
    .row
      .list.list-group
        - each forum in forums
          a.list-group-item.forum-item(href='/'+forum.name)
            h4
              =forum.title
              small=forum.summary
