#admin-container
  position absolute
  top 20px
  left 0
  right 0
  bottom 0

  #admin
    position relative
    min-height 100%
    margin 0 auto

    .btn
      font-weight 600
      letter-spacing .04em
      border 0

    input[type='submit'].btn
      font-weight normal

    label
      margin-bottom 10px

  button.sort
    margin-left 5px

  span.sort-label
    margin-right 5px

@import './wrappers'
@import './heading'
