.admin-wrapper

  .actions
    .btn
      margin 1px 0
    .dropdown-menu
      left 15px
      right 15px
      .fa
        margin-right 7px

  ul
    list-style none
    margin 0
    padding 0

    li
      height 35px
      line-height 35px
      overflow hidden
      position relative
      margin 10px 0
      padding 0 0 0 5px

      a
        display block
        width 100%
        height 100%
        margin 0
        color #333
        font-weight normal

  .list
    h4
      margin-top 3px
      small
        margin-left 7px

    a
      padding 15 15
      span.text
        font-weight normal
        margin-left 5px
        margin-right 10px
      &:hover
        color black

  @media screen and (max-width: 700px)
    .actions
      .col-xs-12
        margin-bottom 10px

    .list
      h4
        small
          margin 2px 0
