.row.well.well-lg
  .input-group.input-group-md
      span.input-group-addon
        i.glyphicon.glyphicon-search
      input.form-control.search(type='text', placeholder='#{t("admin-users.list.search.placeholder")}', autofocus)
