#users-wrapper

  a.f-toggle
    .off
      .fa-circle
        color #999
    .pull-right
      .fa
        margin-right 0
    .refresh
      color #999
    .ok
      color #8bc34a
    .ko
      color #D81E41

  .fa
    &.staff, &.staff-alt 
      color #EF5350
    &.active
      color #8bc34a
