#users-wrapper

  a.f-toggle
    .off
      .fa-circle
        color #999
    .pull-right
      .fa
        margin-right 0
    .refresh
      color #999
    .ok
      color #8bc34a
    .ko
      color #D81E41

  .fa
    &.fa-staff
      color #EF5350
    &.fa-elected
      color #FF0000
    &.fa-city
      color #D81E41
    &.fa-ambassador
      color #FF9800
    &.fa-active
      color #8bc34a
