#settings
  .settings-content
    .heading
      display: none
      margin 0px
      margin-bottom 30px
      .fa
        font-size 18px
        margin-right 10px
  .heading
    h1
      margin 0
      font-size 14px
      line-height 20px
      text-transform uppercase

@media screen and (max-width: 991px)
  #settings
    .settings-content
      .heading
        display: block;
