#settings
  .sidebar-container
    ul
      &.settings-menu
        margin 0
        padding 0
        text-transform uppercase
        list-style none
      li
        &.heading
          padding 40px 0 10px 20px
          font-weight bold
          font-size 14px
          line-height 20px
        a
          font-size 11px
          font-weight bold
          padding 10px 20px
          .fa
            margin-right 10px
