#comment-replies

  .replies
    padding 0

    li.reply-item
      margin 6px auto
      overflow visible
      list-style-type none
      min-height 80px

      &.remove
        background-color #f9f9f9
        .btn-reply-remove
          display none
        .comment-text
          color #bdc3c7
        .remove-reply
          display block
        .comment-actions
          display none
      &:first-child
        .arrow-up, .inner
          display block
      &:last-child
        border-bottom 0px

      .media-object
        width 30px
        height 30px

      .media-heading
        font-size 90%
        .badge
          font-size 80%
          margin-right 0
        small.ago
          font-size 75%
          margin-left 0
        .actions
          opacity 0

      &:hover .media-heading .actions
        opacity 1

      .media-body
        position relative

        .reply-edit-form
          display none

        &.edit
          .reply-body
            display none
          .reply-edit-form
            display block

        .comment-edit-form
          display none

        img
          width 42px
          height 42px

      .reply-text
        padding-bottom 6px
        max-width 390px

  .reply-form
    min-height 180px

    textarea
      width 99%
      resize none
      margin 1%
      padding 2%

    .form-actions
      a, input
        font-size 12px

      .form-submit
        background-color #333
        color #fff

  .form-errors
    color red
