section.intro
  .container
    .jumbotron
      h1 Bonjour !
      p.
        erum esto: verbum ipsum voluptatis non habet dignitatem, nec nos fortasse intellegimus. Qui est in parvis malis. Philosophi autem in suis lectulis plerumque moriuntur. Cui Tubuli nomen odio non est? Aliud igitur esse censet gaudere, aliud non dolere.
      
      .text-center
        a.btn.btn-lg.btn-default Participez !
