section.intro
  .container
    h2 Bienvenue sur l'espace de consultation de l'Association Open Law*, le Droit Ouvert !
    .inner
      :markdown
        Prolongement naturel de notre **méthode de travail collective, transparente, horizontale et ouverte**, cette enceinte à vocation à **faire éclore une soft law** nécessaire à l'innovation dans nos secteurs, dans une démarche de co-construction numérique.
        Ici, nos **règles de fonctionnement et valeurs sont élaborées de manière collaborative** afin d'aboutir à des textes qui conviennent à tous les acteurs de l'écosystème et qui, à terme, pourront servir de support à la mise en place d'une régulation consensuelle.

        **À vous de jouer : voter, contribuer et intégrer la communauté Open Law !**

        Open Law s'appuie sur une [charte](http://openlaw.fr/index.php?title=Charte_OpenLaw) que nous vous invitons à consulter ! 
