section.intro
  .container
    h2 Bienvenue sur l'espace de consultation de #{config.organizationName}
    .inner
      :markdown
        Laboratoire d’idées indépendant et apartisan, rassemblant et mobilisant les citoyen•ne•s de la Métropole quelles que soient leurs sensibilités politiques, leurs origines sociales et culturelles, nous avons à coeur de permettre aux citoyen•ne•s de débattre et de voter sur les décisions municipales et métropolitaines prises pour nos élu•e•s pour nos territoires.
        
        Cette plateforme, propulsée par Democracy OS, que nous avons mis en place est l’outil parfait pour engager une co-construction des politiques publiques. Inscrivez-vous !

