section.intro
  .container
    h2 Bienvenue sur l'espace de consultation de #{config.organizationName}
    .inner
      :markdown
        Mittit invenit illis, praetemptat, naides hominem Troades, et. **Curibus
        paene**; vites puer madidis? Mare precaris manibus capellae? Et Circes quietis
        sensit solidum, otia ducat semper. Ait Echo est nec paverunt tu insania nimium
        ubi iam Herculis voces.
        
        > Ut piget est sapienter Iris
        
        Timidissime quid liquerat Autonoe ingemuit flagrantemque tela praecipuum mutatis
        cuspide qui quae hic deo satis supplice Enipeu. Spina en a virgo: lumina: focos
        meo [clamor](http://nostrum.io/ecce-quo) nec absens serpere.
