section.intro
  .container
    h2 Bienvenue sur l'espace de participation du défi #{config.organizationName}
    .inner
      :markdown
        Ici vous pouvez réagir sur les projets proposés par les différents partenaire du défi Le sentier. Donnez votre opinion, votez, proposez des idées... bref soyez acteurs de cette expérimentation en prenant part à sa gouvernance.         
        
        Cette plateforme, est propulsée par l'association DemocracyOS France, spécialiste des consultations en ligne et partenaire de notre action. Alors, inscrivez-vous en toute confiance et agissez !

