.newsfeed-page
  include intro.jade
  .content.container
    .title
      h2= t('newsfeed.title')
    section(data-forums).row
      .newsfeed-grid-sizer.col-sm-12.col-md-6
    .forum-pagination(data-pagination)
      // - button.btn.btn-block.msg-more(type="button")
      // - = t('newsfeed.button.load-more')
      p.msg-empty= t('newsfeed.nothing-to-show')
      .loader
