.newsfeed-page
  .content
    .title
      h2= t('newsfeed.title')
    section(data-forums)
    .forum-pagination(data-pagination)
      button.btn.btn-block.msg-more(type="button")
        = t('newsfeed.button.load-more')
      p.msg-empty= t('newsfeed.nothing-to-show')
      .loader
