nav#sidebar
  .text-center(style='padding: 15.5px 20px 5px')
    - var existCallToActionUrl = !!config.callToActionUrl
    - if (existCallToActionUrl)
      a(href=config.callToActionUrl, title=t('sidebar.call-to-action'), style="font-size: 12px").btn.btn-info.btn-block
        span= t('sidebar.call-to-action')
  .filter-container(data-sidebar-filter)
  .list-container(data-sidebar-list)

