nav#sidebar
  #action-buttons.text-center
    a(href="#").btn.btn-primary.btn-block
      span= Poser une question au maire
  .filter-container(data-sidebar-filter)
  .list-container(data-sidebar-list)
