nav#sidebar
  #action-buttons.text-center
    - var callToActionUrl = !!config.callToActionUrl
    - if (callToActionUrl)
      a.btn.btn-primary.btn-block(href=(config.subPath + config.callToActionUrl), alt=t('sidebar.call-to-action'))
        span= Poser une question au maire
  .filter-container(data-sidebar-filter)
  .list-container(data-sidebar-list)
